Modulo_4_Kubernates/03_sesion/DemoApp/aspnet-compose/docker-compose.yml
Modulo_4_Kubernates/03_sesion/DemoApp/appsettings.json
/Modulo_4_Kubernates/05_sesion/app2/backend/node_modules/wrappy
/Modulo_4_Kubernates/05_sesion/app2/backend/node_modules/whatwg-url
/Modulo_4_Kubernates/05_sesion/app2/backend/node_modules/supports-color
/Modulo_4_Kubernates/05_sesion/app2/backend/node_modules/simple-update-notifier
/Modulo_4_Kubernates/05_sesion/app2/backend/node_modules
/Modulo_4_Kubernates/05_sesion/app2/frontend/.vscode
Modulo_4_Kubernates/05_sesion/app2/frontend/README.md
Modulo_4_Kubernates/05_sesion/app2/frontend/.editorconfig
