li{
    color: red;
}
form{
    width: 400px;
    text-align: center;
}
input{
    display: block;
    padding: 6px;
    margin: 6px;
    width: 100%;

}
button{
    width: 50%;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}